.logo {
  height: 50px;
  width: 200px;
}

@media (max-width: 768px) {
  .logo {
    max-width: 100vw;
    /* Set the maximum width for larger screens */
    height: 50px;
    /* Allow the height to adjust proportionally */
    margin: 0 !important;
    padding: 0 !important;
  }
}

/* Basic styles */
.nav {
  width: 180px;
  /* Adjust as needed */
}

/* Submenu styles */
.submenu.collapse:not(.show) {
  background-color: #f8f9fa;
  /* Default background color when collapsed */
}

.submenu.collapse.show {
  color: #fff;
  /* Adjust text color for better readability */
  padding: 10px;
  /* Optional: Add some padding for better appearance */
}

/* Active link styles */
.nav-link.active {
  color: #0056b3;
  /* Adjust text color for better readability */
  border-radius: 5px;
  /* Optional: Add some rounding to corners */
}


nav.navbar {
  /* margin: 0 !important;
  padding: 0 !important; */
  border: none !important;
}

/* 
.content {
  flex: 1;
  padding: 20px;
} */


.app-wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  background: #212529;
  color: #fff;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 20px 0;
}

.main-content {
  margin-left: 200px;
  width: calc(100% - 200px);
}

.nav-link.active {
  color: #0056b3;
  border-radius: 5px;
}
